:root {
    --primary-color:#007bff;
    --secondary-color:#333;
    --background-color:#fff;
    --headers-color:#000;
}

body.dark-mode {
    --primary-color:#20ffb1;
    --secondary-color:#ebebeb;
    --background-color:#181818;
    --headers-color:#ffffff;
}

html, body {
    box-sizing:border-box;
    height:100%;
    margin:0;
}

body {
    min-height:100vh;
    flex-direction:column;
    background-color: var(--background-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    position:relative;
}

main {
    margin: 3rem 0;
}

.content {
    height:100%;
    text-align:center;
}

.wrap {
    display: grid;
    place-items: center;
}

/* LOGO AND TOP IMAGES */

.top-images {
    display:flex;
    justify-content: center;
}

.logo {
    display:block;
    height:9rem;
}

.logo, .invert-logo {
    transition: display 0.2s ease-in-out, transform 0.1s ease-in-out;
    opacity: 1;
}

.invert-logo {
    display: none;
    height: 9rem;
}

/* WELCOME MESSAGE AND HEADERS */

.welcome-message {
    margin: 1rem;
}

h1 {
    font-size: 3.75rem;
    margin:1rem 0;
}

h2 {
    font-size:1.25rem;
    margin: 0.5rem;
}

h1, h2 {
    color: var(--headers-color);
}

/* NAVIGATION AND DASHBOARD */

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.dashboard {
    display: flex;
    flex-direction: column;
    box-shadow: #d5d5d5 0px 0px 10px;
    padding: 1rem;
    gap:0.5rem;
    border-radius: 2rem;
    min-width:10vw;
    max-width: 20vw;
    justify-self: center;
}

.website-title {
    color: var(--primary-color);
}

.project-link {
    color: var(--secondary-color);
    padding: 0.25rem 0.375rem 0 0.375rem;
    position:relative;
    text-decoration: none;
}

.project-link:hover {
    color: var(--primary-color);
    transition: 0.15s ease-in-out;
}

.hover-underline:before{
    content:"";
    position:absolute;
    bottom: -0.125rem;
    left: 50%;
    height: 0.05rem;
    width:0;
    background: var(--primary-color);
    transition: 0.15s;
}

.hover-underline:hover::before{
    width:100%;
    left:0;
}

/* FOOTER */

footer {
    width:100%;
    position:absolute;
    bottom:0;
}

/* DARK MODE */

.lightbulb {
    margin: 1rem;
    display:flex;
    justify-content: center;
}

.lights-on {
    height:4rem;
}

.lights-off {
    display:none;
    height:4rem;
}

.lights-on, .lights-off {
    transition: display 0.2s ease-in-out, transform 0.1s ease-in-out;
    opacity: 1;
}

.lights-on:hover, .lights-off:hover {
    cursor:pointer;
    transform: translateY(-0.075rem);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.lights-on.fade, .lights-off.fade {
    opacity: 0;
}

/* MOBILE VERSION RESPONSIVE */
@media (max-width:768px) {
    .dashboard {
        min-width:30vw;
        max-width:50vw;
    }

    .top-images {
        top:0;
    }

    h1, h2 {
        margin: 0.375rem;
    }
}