:root {
    --primary-color:#007bff;
    --secondary-color:#333;
    --background-color:#fff;
    --headers-color:#000;
}

body.dark-mode {
    --primary-color:#20ffb1;
    --secondary-color:#ebebeb;
    --background-color:#181818;
    --headers-color:#ffffff;
}

body {
    background-color: var(--background-color);
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    height:100%;
    margin:0;
}

main {
    min-height:100%
}

.content {
    text-align:center;
}

.wrap {
    text-align:center;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.top-images {
    display:flex;
    justify-content: center;
}

.welcome-message {
    margin: 1rem;
}

.logo {
    display:block;
    height:9rem;
}

.logo, .invert-logo {
    transition: display 0.2s ease-in-out, transform 0.1s ease-in-out;
    opacity: 1;
}

.invert-logo {
    display: none;
    height: 9rem;
}

h1 {
    font-size: 4rem;
    margin:1rem 0;
}

h1, h2 {
    color: var(--headers-color);
}

.dashboard {
    display: flex;
    flex-direction: column;
    box-shadow: #d5d5d5 0px 0px 10px;
    padding: 1rem;
    gap:0.5rem;
    border-radius: 2rem;
    width: 11vw;
    justify-self: center;;
}

h2 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.website-title {
    color: var(--primary-color);
}

.project-link {
    color: var(--secondary-color);
    padding: 0.5rem;
    position:relative;
    text-decoration: none;
}

.project-link:hover {
    color: var(--primary-color);
    transition: 0.15s ease-in-out;
}

.hover-underline:before{
    content:"";
    position:absolute;
    bottom: -0.125rem;
    left: 50%;
    height: 0.125rem;
    width:0;
    background: var(--primary-color);
    transition: 0.15s;
}

.hover-underline:hover::before{
    width:100%;
    left:0;
}

footer {
    width:100%;
    position:absolute;
    bottom:1rem;
}

/* DARK MODE */

.lightbulb {
    margin: 1rem;
    display:flex;
    justify-content: center;
}

.lights-on {
    height:4rem;
}

.lights-off {
    display:none;
    height:4rem;
}

.lights-on, .lights-off {
    transition: display 0.2s ease-in-out, transform 0.1s ease-in-out;
    opacity: 1;
}

.lights-on:hover, .lights-off:hover {
    cursor:pointer;
    transform: translateY(-0.075rem);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.lights-on.fade, .lights-off.fade {
    opacity: 0;
}

/* MOBILE VERSION RESPONSIVE */
@media (max-width:768px) {
    .dashboard {
        width: 60vw;
    }

    .top-images {
        top:0;
    }
}